body {
  background-color: slateblue;
  color: white;
}

h1 {
  font-family: 'Proze Libre', serif;
  font-weight: bold;
}

#main, #numberInput, #submitButton1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}


